<div class="jumbotron">
  <h1 class="display-4">
   <%= @freind.first_name %>
   <%= @freind.last_name %>
     
   </h1>
  <p class="lead">
                  <%= @freind.email %> |
                  <%= @freind.phone %> | 
                  <%= @freind.twitter %>
  </p>
  <br/>
  <%= link_to 'Edit', edit_freind_path(@freind), class:"btn btn-secondary" %> 
  
<%= link_to 'Delete', @freind, method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-danger" %>

<%= link_to 'Back', freinds_path, class:"btn btn-dark" %>

</div>





